/* Base Styles */
* {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Virgil";
  src: url("/fonts/Virgil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.MainButton {
  border-radius: 50px !important;
  transition: transform 0.4s ease, box-shadow 0.4s ease !important;
}

.MainButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(4, 2, 2, 0.1);
}

.NiceFont {
  font-family: "Virgil", cursive;
}

/* Hero Section */
.headline-wrapper {
  display: inline-block;
  position: relative;
}

.HeroText h1 {
  margin-bottom: 0;
}

.stroke {
  height: auto;
  display: block;
  vertical-align: bottom;
  margin-top: -0.2em;
}

.stroke path {
  fill: currentColor;
}

.lead {
  padding-top: 25px;
  font-size: 1rem !important;
}

/* Profile Photo */
.Profile-Photo {
  border-radius: 100px;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.Profile-Photo:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Project Cards */
.project-img {
  height: 225px;
  object-fit: cover;
}

.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.Projects-Container {
  margin-bottom: 100px;
}

/* Skills Section */
.skills-section {
  padding: 50px 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tag {
  background-color: #f8f9fa;
  color: #212529;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  transition: all 0.3s ease;
}

.skill-tag:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (min-width: 992px) {
  .Profile-Photo {
    height: 40rem;
  }
}

@media (max-width: 991px) {
  .Profile-Photo {
    height: 30rem;
    border-radius: 80px;
  }
}

@media (max-width: 767px) {
  .Profile-Photo {
    height: 20rem;
    border-radius: 50px;
  }

  .circle-container {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .Profile-Photo {
    height: 15rem;
    border-radius: 40px;
  }
}

* {
  cursor: none !important; /* Force hide default cursor */
}

/* Cursor Theme */

#custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 2px solid transparent;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  z-index: 9999;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

#custom-cursor.hover-effect {
  width: 35px;
  height: 35px;
  background-color: Black;
}
